<h1>Student Section</h1><%=link_to "Register new Student" ,new_student_path %><br><br>
<table>
<tr>
    <th>Roll no</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Book Borrow Details</th>
    <th>View</td>
    
</tr>

  <% @student.each do |s| %>
    <tr>
    <td><%=s.roll_no%></td>
    <td><%=s.name%></td>
    <td><%=s.last_name%></td>
    <td><%=s.address%></td>
    <td>
      <%if s.book_id?%>
        <%b=@book.find(s.book_id)%>
          <font color="red"><%=b.book_name%></font>
        <%end%> 
    </td>
    
    <td><%= link_to "view", student_path(s)%></td>
    
    </tr>
  <% end %>

</table>